body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

main {
    flex-grow: 1;
}

#boton-sumar-pelicula-admi {
    font-size:xx-small;
}

.contenedor-info {
    grid-gap: 0px 0px;
}