body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

main {
    flex-grow: 1;
}

#boton-sumar-pelicula-admi {
    font-size:xx-small;
}

.linea-blanca {
    background-color: white;
}

.linea-gris {
    background-color: rgba(220, 217, 217, 0.677);
}

.texto-descripcion {
    text-overflow: ellipsis;
}

.contenedor-info {
    grid-gap: 0px 0px;
}